/*	------------------------------------------------------

	PHGStrap --
	
	PHGStrap is an internal base style for PHG based
	losely on the concept behind Twitters "Bootstrap",
	hence the name.
	
------------------------------------------------------ */

/* --- Dependencies --- */

/*
-	Load in the configuration file, which deals with
-	all the variables and mixins throughout the project	
*/

@import 'config';

/*
-	Load in the reset file, which resets all elements
- 	to a set of "base" properties, overiding any
-	browser specific styling.
*/

@import	'reset';

/*
-	Load in the fonts file, which makes use of CSS3's
-	@font-face property to load in custom fonts.
*/

@import 'fonts';

/*
-	Load in the typography file, which deals with
-	prestyling any textual elements.
*/

@import 'typography';

/*
-	Load in the grid file, which powers
-	our entire grid system.
*/

@import 'grid';

/* --- Generic Styles --- */

body {
	background:		@colour_bg_base;
	font-family:	@font_base;
	color:			@colour_font_base;
	font-size:		16px;
	line-height:	26px;
}