/*	------------------------------------------------------

	Config.less
	
	The site config LESS file.
	
	Written by Joey Emery.
	
------------------------------------------------------ */

/* --- Variables --- */

/*
-	Colours
*/

/* Generic */
@colour_bg_base:			#fff;
@colour_bg_button:			#f4f4f4;
@colour_bg_button_hover:	#333;

/* Components */
@colour_bg_nav:				#333;
@colour_bg_hero:			#f8f8f8;

@colour_bg_sidebar:			#f8f8f8;

/* Font colours */
@colour_font_base: 			#000;
@colour_font_anchor:		#e45857;
@colour_font_nav:			#aaa;
@colour_font_sidebar_hover:	#fff;
	
/*
-	Fonts
*/

@font_base:					Helvetica, sans-serif, arial;
@font_heading:				Helvetica;

/*
-	Dimensions
*/

@dim_width_container:		90%;
@dim_grid_max:				12;
@dim_push_size:				40px;

/* --- Mixins --- */

.box_sizing(@params) {
	-moz-box-sizing: @params; -webkit-box-sizing: @params; box-sizing: @params;
}

.box_shadow(@params) {
	-moz-box-shadow: @params; -webkit-box-shadow: @params; box-shadow: @params;
}